header{

  background-color: $color-bckgr-menu-side;

  .profile{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    &-image{

      width: 150px;
      height: 150px;
      border: 4px solid $color-bckgrd-gen;
      border-radius: 75px;
      overflow: hidden;
      margin-bottom: 20px;

    }

    h1, p{

      color: $color-bckgrd-gen;

    }

    h1{

      margin: 0 0 5px;
    }

    p{

      font-size: rem(18);

      margin: 0;

    }


  }
}