.hero{


  background: $color-bckgrd-gen url("../../images/7.jpg") no-repeat center top;

  background-size: cover;

  .texte-bienvenue{

    display: flex;

    flex-direction: column;

    align-items: center;

    min-width: 400px;

    padding: 20px;

    background-color: rgba(95, 109, 126, 0.4);



    h2, p{

      margin-left: rem(16);

      line-height: 1.2;

      color: $color-txt-normal;

    }

    p{

      font-size: rem(22);
    }


  }

}