.nav-principale{


  .show-menu{

    display: block;

    text-align: center;

    color: $color-txt-normal;

    background-color: #555;

    padding: 10px 0;

  }

  .toggle-menu{

    display: none;
  }


  .toggle-menu:checked + ul{

    display: block;

  }


  ul{

    margin: 0;
    padding: 0;

    display: none;

    a{

      display: flex;
      align-items: center;

      padding: 15px 40px;

      color: $color-link;

      &:hover{

        background-color: $color-link-hover;

      }

      &.active, &.active:hover{

        background-color: $color-link-active;

      }

      i{

        margin-right: 15px;
        font-size: rem(24);

      }

    }
  }

}