//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base

$color-txt-normal: #777777;

$color-bckgrd-gen: #fff;

$color-bckgr-menu-side: #5f6d7e;

$color-section-titre: #555555;

$color-link: #fff;

$color-link-hover: darken($color-bckgr-menu-side, 5%);

$color-link-active: darken($color-bckgr-menu-side, 15%);

$color-hr-bckgr: #ddd;










