//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

/// Font family

$ff-gen: "Roboto", "Helvetica", Arial, sans-serif;

$fz-size: rem(16);

$ff-line-height: 1.5;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
