//Formule de conversion pour les fontes

@function rem($fz){

  @return ($fz/16) + rem;

}

//MIXIN POUR AJOUTER UNE FONT

@mixin font($family, $size, $color) {

  font-family: $family;
  font-size: $size;
  color: $color;

}